@media (max-width: 768px) {
  .linksInNav {
    display: none;
  }
  .profilaImage {
    margin-right: 16px;
    content: url("../assets/button1.png");
  }

  .dropdownDiv {
    width: 100vw;
    gap: calc(var(--spacing) * 4);
    height: calc(var(--spacing) * 71);
  }
  .linkInDiv {
    display: block !important;
  }
}

.linkInDiv {
  display: none;
}
